:root{
    --primary-color: #1CC29F;
    --primary-color1 : #8656CD;
    --primary-color2 : #A6002F;
    --primary-color3 : #383b3f
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behaviour:smooth;
}
@media (min-width: 640px) {
    .link {
        width: 140px;
        height:48px;
    }
}

.container{
   margin-left: auto;
   margin-right:auto;
   width: 100%;
}

.head{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.head .link{
    width: 105px;
    height: 36px;
    align-items: center;
    display: flex;
}
.right{
   display: flex;
   align-items: center;
   font-size: 0.75rem;
   font-weight: 600;
}
.relative{
    position: relative;

}
.relative a{
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    font-weight: 600;
    font-family: Montserrat;
    color: var(--primary-color);
    text-decoration: none;
}
.right .shadow{
    box-shadow: 0 2px 0 0 rgba(55, 59, 63, 0.5);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
}
a.shadow:hover{
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: none;
}
a.text {
    padding-right: 4px;
}


