/* .container{
    padding-left: 5rem;
    padding-right: 5rem;
} */
:root{
    --primary-color: #1CC29F;
    --primary-color1 : #8656CD;
    --primary-color2 : #A6002F;
    --primary-color3 : #383b3f;
}






:after, :before {
    border: 0 solid;
    box-sizing: inherit;
}
.main{
    background-image: url('https://assets.splitwise.com/assets/core/facets.png');
    background-repeat: repeat-x;
    background-size: 1000px;
    background-position: center 0px;
}
@media (min-width: 768px) {
    .main{
        background-size: 1250px;
        background-position: center 0px;
    }
}
.container1{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
@media (min-width: 640px) {
    .container1{
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container1{
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container1 {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container1 {
        max-width: 1280px;
        
    }
}

@media (min-width : 1024px){
    .container-flex{
        display: flex;
    }
}
.container-hidden{
    display: none;
}

@media (min-width: 1280px) {
    .container-hidden{
        width: 8.333333%;
        display: block;
    }
}
@media (min-width:1024px){
    .h1{
        width: 41.6667%;
    }
}
@media (min-width:1280px){
    .h1{
        width: 33.3333%;
    }
}

@media (min-width:1024px){
    .h1-icons{
        height: 100%;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
}
.text1{
   text-align: center;
   padding-top: 2rem;
   line-height: 1.25;
   font-size: 1.75rem;
   font-weight: 700;
   color: var(--primary-color3);
   font-family: Montserrat;
}
@media (min-width: 1024px) {
    .text1{
        font-size: 2.5rem;
        text-align: left;
    }
}
.green{
    color : var(--primary-color);
    text-align: left;
}
.color-icons {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}
@media (min-width:1024px){
    .color-icons{
        justify-content: flex-start;
    }
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.plane{
    opacity:0.4;
    margin: 0 0.625rem;
}
a{
    background-color: transparent;
    text-decoration: inherit;
}
svg{
    vertical-align: middle;
}
.fill-current{
    width: 2.25rem;
    fill: currentColor;
}
.house{
    opacity:0.4;
    margin: 0 0.625rem;
}

.purple{
    align-items: center;
    display: flex;
    color: var(--primary-color1);
}
.heart{
    opacity:0.4;
    margin: 0 0.625rem;
}
.red{
    align-items: center;
    display: flex;
    color: var(--primary-color2);
}
.star{
    opacity:0.4;
    margin: 0 0.625rem;
}
.grey{
    align-items: center;
    display: flex;
    color: var(--primary-color3);
}
.hidden-block{
    display: none;
}
@media (min-width:1024px){
    .hidden-block{
        display: block;
    }
}
.hidden-text{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    max-width: 20rem;
}
.sign-btn{
    box-shadow: 0 2px 0 0 rgba(55, 59, 63, 0.5);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: Montserrat;
    background-color: var(--primary-color);
    color: #fff;

}
.sign-btn:hover{
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: none;
}
.free{
    margin-top: 2rem;
    height: 1rem;
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    color: var(--primary-color3);
    margin-bottom: 7rem;
}
.free a{
    height: 1rem;
    align-items: center;
    display: inline-flex;
}
.inline{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    fill: currentColor;
    display: inline;
}
.download{
    box-shadow: 0 2px 0 0 rgba(55, 59, 63, 0.5);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: Montserrat;
    background-color: var(--primary-color);
    color: #fff;
}
.download:hover{
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: none;
}
.animation{
    padding-bottom: 2rem;
}
p{
    line-height: normal;
}
.mobile-hidden{
    text-align: center;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
}
@media (min-width:1024px){
    .mobile-hidden{
        display: none;
    }
}
.download-text{
    margin-left:auto;
    margin-right: auto;
    font-size: 1.125rem;
}
.download-free{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:1024px){
    .photos{
        flex-wrap: wrap;
        display: flex;
    }
}
.section{
    padding-top: 2rem;
    width: 100%;
    color: #fff;
    background-image: url('https://assets.splitwise.com/assets/core/facets.png');
    background-repeat: repeat-x;
    background-size: 1000px;
    background-position: center 0px;
    background-color: var(--primary-color3);
    
}
@media (min-width:1024px){
    .section{
        width: 50%;
        height: 641px;
    }
}
@media (min-width: 768px) {
    .section{
        background-size: 1250px;
        background-position: center 0px;
    }
}
.vertical{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.vertical img{
    margin-left: auto;
    margin-right: auto;
    width: 16.25rem;
}
@media (min-width:1024px){
.vertical img{
    width: 20.25rem;
}
}
img{
    max-width: 100%;
    height:auto;
    vertical-align: middle;
}
.text-center{
    text-align: center;
    font-size: 1.5rem;
    font-family: Montserrat;;
}
.p{
   text-align: center;
   padding-left: 2rem;
   padding-right: 2rem;
   max-width: 23.75rem;
   margin-top: 0.5rem;
   margin-left: auto;
    margin-right: auto;
    line-height: normal;
    font-size: 1.125rem;
    margin-bottom: 2.25rem;
}
.section1{
    background-color: var(--primary-color);
    background-image: url('https://assets.splitwise.com/assets/core/facets.png');
    padding-top: 2rem;
    background-position: center 0px;
    background-size: 1000px;
    width: 100%;
    color: #fff;
    background-repeat: repeat-x;
}
@media (min-width:1024px){
    .section1{
        width:50%;
        height: 641px;
    }
}
@media (min-width:768px){
    .section1{
        background-size: 1250px;
        background-position: center 0px;
    }
}
.vertical1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vertical1 img{
    margin-left: auto;
    margin-right: auto;
    width: 16.25rem;
}
@media (min-width:1024px){
    .vertical1 img{
        width :20.25rem;
    }
}
.section2{
    background-color: #F67240;;
    background-image: url('https://assets.splitwise.com/assets/core/facets.png');
    padding-top: 2rem;
    color: #fff;
    background-repeat: repeat-x;
    background-size: 1000px;
    background-position: center 0px;
}
@media (min-width:1024px){
    .section2{
        width:50%;
        height: 641px;
    }
}
@media (min-width:768px){
    .section2{
        background-size: 1250px;
        background-position: center 0px;
    }
}
.vertical2{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.vertical2 img{
    margin-left: auto;
    margin-right: auto;
    width: 16.25rem;
}
@media (min-width:1024px){
    .vertical2 img{
        width :20.25rem;
    }
}
.section3{
    
    background-color: var(--primary-color3);
    background-image: url('https://assets.splitwise.com/assets/core/facets.png');
    padding-top: 2rem;
    color: #fff;
    background-repeat: repeat-x;
    background-position: center 0px;
    background-size: 1000px;
}
@media (min-width:1024px){
    .section3{
        width:50%;
        height: 641px;
    }
}
@media (min-width:768px){
    .section3{
        background-size: 1250px;
        background-position: center 0px;
    }
}
.vertical3{
    display: flex;
    height : 100%;
    flex-direction: column;
    justify-content: space-between;
}
.vertical3 img{
    margin-left: auto;
    margin-right: auto;
    width: 16.25rem;
}
@media (min-width:1024px){
    .vertical3 img{
        width :20.25rem;
    }
}
.section4{
    background-color: var(--primary-color1);
    background-image: url('https://assets.splitwise.com/assets/core/facets.png');
    padding-top: 2rem;
    height: 641px;
    color: #fff;
    background-position: center 0px;
    background-size: 1000px;
    background-repeat: repeat-x;
}
@media (min-width: 1024px) {
    .section4{
        display : flex;
        flex-direction: row;
        width: 100%;
        padding-top: 2rem;
        height: 641px;
        justify-content: space-between;
    }
}
@media (min-width: 768px) {
    .section4 {
        background-size: 1250px;
        background-position: center 0px;
    }
}
@media (min-width: 1024px) {
    .vertical4{
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .texting{
        height: 100%;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
}
.text-center1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Montserrat;
}
.p1{
    text-align: center;
    max-width: 23.75rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125rem;
}
.button-sign{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}
.signup{
    box-shadow: 0 2px 0 0 rgba(55, 59, 63, 0.5);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-width: 1px ;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: rgba(55, 59, 63, 0.3);
}
.button-sign a:hover{
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: none;
}
@media (min-width: 1024px) {
    .ima {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .col1{
        height: 100%;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
    }
}
.col1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:18.8rem
}
@media (min-width: 1024px) {
    .col1 img{
        width: 20.25rem;
    }
}
.features {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media (min-width: 640px) {
    .features {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .features{
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .features{
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .features {
        max-width: 1280px;
    }
}
.features h1 {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 700;
}

.feature-list {
    column-count: 2;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
}
@media (min-width: 768px) {
    .feature-list {
       column-count: 3;
    }
}
.feature-list li {
    display: block;
    page-break-inside: avoid;
    break-inside: avoid;
}
.feature-list li>div:first-of-type {
    margin-top: 0;
}
.feature-list li div {
    margin-top: 0;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.item-center{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1rem;
}
.core-icon {
  
   
    min-width: 21px;
    min-height: 21px;
    background-image: url('https://assets.splitwise.com/assets/images/core/core-feature.svg');
    background-repeat: no-repeat;
    
}
@media (min-width: 768px) {
    .feature-list span {
        font-size: 1.25rem;
    }
}
.pro-icon {
    
    
    min-width: 21px;
    min-height: 21px;
    background-image:url('https://assets.splitwise.com/assets/pro/pro-feature.svg');
    background-repeat: no-repeat;
   
}
.core {
    margin-right: 1.5rem;
    margin-left: 1.25rem;
    color: var(--primary-color3);
}
@media (min-width: 1024px) {
    .core {
        font-size: 1.25rem;
    }
}
.core1{
    margin-right: 1.5rem;
    margin-left: 1.25rem;
    color: var(--primary-color1);
}
@media (min-width: 1024px) {
    .core1 {
        font-size: 1.25rem;
    }
}
.container4{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 640px) {
    .container4 {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container4 {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container4{
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container4{
        max-width: 1280px;
    }
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .container-flex{
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
}



.block a{
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}
.block{
    width: 100%;
}
@media (min-width: 768px) {
    .block{
        width : 50%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 1024px) {
    .block{
        width: 33.333333%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
.border{
    box-shadow: 0 2px 0 0 rgba(55, 59, 63, 0.5);
    padding-top: 1.875rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    display:flex;
    border-width: 1px;
    border-radius: 5px;
    border-color: #E6E8EE;
    height: 178px;
}
@media (min-width: 1024px) {
    .border{
        height: 220px;
    }
}
.border:hover {
    box-shadow: none;
    transform: translateY(2px);
}
.border .text-font{
    font-size: 1.125rem;
    font-family: Montserrat;
}
.news{
    height: 3rem;
    align-items: center;
    display: flex;
}
.news img{
    width: 3rem;
    margin-right: 1rem;
    height: 3rem;
    border-radius: 5px;
}
.news .italic-text{
    font-style: italic;
    font-size: 1.125rem;
}
