:root {
  --bg: #ffffff;
  --text: #111;
  --card: #f9f9f9;
  --border: #ddd;
  --accent: #2d74da;
  --shadow: rgba(0, 0, 0, 0.08);
}

body {
  background-color:  #ffffff;;
  color:  #111;
  transition: background 0.3s, color 0.3s;
  font-family: 'Segoe UI', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
